/.idea/.idea.Easy Minecraft Modpacks/.idea/.gitignore
/Easy Minecraft Modpacks/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/packages/Newtonsoft.Json.13.0.3/.signature.p7s
/.idea/.idea.Easy Minecraft Modpacks/.idea/discord.xml
/Easy Minecraft Modpacks/obj/Debug/Easy Minecraft Modpacks.csproj.AssemblyReference.cache
/Easy Minecraft Modpacks/obj/Debug/Easy Minecraft Modpacks.csproj.CopyComplete
/Easy Minecraft Modpacks/obj/Debug/Easy Minecraft Modpacks.csproj.CoreCompileInputs.cache
/Easy Minecraft Modpacks/obj/Debug/Easy Minecraft Modpacks.csproj.FileListAbsolute.txt
/Easy Minecraft Modpacks/obj/Debug/Easy Minecraft Modpacks.csproj.GenerateResource.cache
/Easy Minecraft Modpacks/obj/Debug/Easy Minecraft Modpacks.csproj.SuggestedBindingRedirects.cache
/Easy Minecraft Modpacks/bin/Debug/Easy_Minecraft_Modpacks.exe
/Easy Minecraft Modpacks/obj/Debug/Easy_Minecraft_Modpacks.exe
/Easy Minecraft Modpacks/bin/Debug/Easy_Minecraft_Modpacks.exe.config
/Easy Minecraft Modpacks/obj/Debug/Easy_Minecraft_Modpacks.Form1.resources
/Easy Minecraft Modpacks/bin/Debug/Easy_Minecraft_Modpacks.pdb
/Easy Minecraft Modpacks/obj/Debug/Easy_Minecraft_Modpacks.pdb
/Easy Minecraft Modpacks/obj/Debug/Easy_Minecraft_Modpacks.Properties.Resources.resources
/.idea/.idea.Easy Minecraft Modpacks/.idea/encodings.xml
/.idea/.idea.Easy Minecraft Modpacks/.idea/indexLayout.xml
/packages/Newtonsoft.Json.13.0.3/LICENSE.md
/packages/Newtonsoft.Json.13.0.3/Newtonsoft.Json.13.0.3.nupkg
/Easy Minecraft Modpacks/bin/Debug/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
/Easy Minecraft Modpacks/bin/Debug/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net6.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.3/packageIcon.png
/packages/Newtonsoft.Json.13.0.3/README.md
/.idea/.idea.Easy Minecraft Modpacks/.idea/vcs.xml
/Easy Minecraft Modpacks/obj/Debug/Easy_Minecraft_Modpacks.MainUI.resources
